/* VARIABLES */
:root {
  --azul_dev: #0cabb1;
  --azul_shw_dev: rgba(1, 57, 59, 0.489);
  --azul_dark_dev: rgb(11, 97, 100);
  --fondo: #212429;
  --fondo_shw: #191b1e;

  --html: #f06529;
  --css: #2965f1;
  --js: #f0db4f;
  --php: #7f78b5;
  --rubi: #ad1000;
  --csharp: #69f0ae;
  --net: #34abe5;
  --java: #ec2025;
  --python: #e4bb28;
  --sql: #f29111;

  --bootstrap: #563d7c;
  --foundation: #074f68;
  --bulma: #00d1b2;
  --jquery: #0769ad;
  --react: #60dafb;
  --angular: #dd1b16;
  --vue: #41b883;
  --node: #3c873a;
  --laravel: #fb503b;
  --symfony: #000;
  --aspnet: #512bd4;
  --spring: #8bc34a;
  --django: #13563c;
  --flask: #000;

  --git: #f34f29;
  --docker: #099cec;
  --sass: #cc6699;
  --pug: #efcca3;
  --gulp: #eb4a4b;
  --seo: #44f7a1;
  --atlassian: #0052cc;
  --scrum: #40586f;
}

/* GENÉRICO */

a,
li {
  text-decoration: none;
  list-style: none;
  color: #212429;
}

.no_mp {
  margin: 0;
  padding: 0;
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.contenedor::-webkit-scrollbar {
  -webkit-appearance: none;
}

.contenedor::-webkit-scrollbar:vertical {
  width: 10px;
}

.contenedor::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}

.contenedor::-webkit-scrollbar:horizontal {
  height: 10px;
}

.contenedor::-webkit-scrollbar-thumb {
  background-color: var(--azul_dev);
  border-radius: 20px;
}

.contenedor::-webkit-scrollbar-track {
  border-radius: 10px;
}

.contenedor {
  scrollbar-color: var(--azul_dev);
  scrollbar-width: thin;
}

.color_dev {
  color: var(--azul_dev);
}

.bg-dev {
  background-color: var(--azul_shw_dev);
  filter: saturate(70%);
}

.bg-fondo-alert {
  height: 3rem;
  font-size: 1rem;
  background-color: var(--fondo);
  filter: opacity(70%);
  border-bottom: 2px solid var(--azul_dev);
}

.btn-close {
  height: 1rem;
  background: var(--azul_dev) !important;
}

.borji:hover {
  cursor: url(../img/contacto/bohdeveloper.png),
    auto;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* BODY */

body {
  width: 100%;
  height: auto;
  /*   background-image: url(../img/background.jpg);
  background-repeat: no-repeat; */
}

/* NAV */

nav {
  padding: 1rem 1rem 0rem 2rem !important;
}

header > nav ul > li {
  padding: 0rem 0.5rem 0rem 0.5rem;
}

header > nav > div > a > img {
  width: 5rem;
  height: 5rem;
}

.me-auto {
  margin-right: 0 !important;
}

header > nav > div > button {
  border: 0 !important;
}

header > nav > div > button::selection {
  color: transparent;
}

header > nav > div > button > span {
  font-size: 0.9rem;
}

.dropdown-item:hover {
  color: black !important;
  background-color: var(--azul_dev);
}
/* HEADER */

header {
  /* height: 20rem; */
  padding-bottom: 2rem;
}

/* PRESENTACIÓN */

.nameAbsolute {
  position: absolute;
}

.texto_index {
  max-width: 40rem;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

#boh {
  width: 23rem;
  height: auto;
}

#myname {
  top: 16.5rem;
  left: 5rem;
}

.dev {
  color: var(--azul_dev);
  top: 21rem;
  left: 5rem;
}

.rrss_panel {
  left: -2px;
  right: auto;
  width: 40px;
  position: fixed;
  bottom: 0;
  z-index: 200;
}

.rrss_elm {
  color: var(--azul_dev) !important;
  margin-left: 0.2rem;
  transition: 0.5s;
}

.rrss_elm:hover {
  color: white !important;
  margin-left: 0.5rem;
  transition: 0.5s;
}

.rrss_list {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.rrss_list::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: white;
}

.rrss_list li:last-of-type {
  margin-bottom: 20px;
}

.mail_panel {
  left: auto;
  right: -2px;
  width: 40px;
  position: fixed;
  bottom: 0;
  z-index: 200;
}

.mail_inn {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}

.mail_inn::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: white;
}

.mail_inn li:last-of-type {
  margin-bottom: 20px;
}

.mail_inn a {
  color: var(--azul_dev) !important;
  margin: 20px auto;
  writing-mode: vertical-rl;
  transition: 0.5s;
}

.mail_inn a:hover {
  color: white !important;
  font-size: 1.01rem;
  transition: 0.5s;
}

/* HABILIDADES */

/* Barras de progreso */

.circular {
  height: 100px;
  width: 100px;
  position: relative;
}

.circular .inner {
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  background: #212529;
  border-radius: 100%;
}

.circular .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 18px;
  font-weight: 500;
}

.circular .bar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #212529;
  -webkit-border-radius: 100%;
  clip: rect(0px, 100px, 100px, 50px);
}
.accordion-button:focus {
  box-shadow: none !important;
}

.circle .bar .progress {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
}

/* Color HTML */

.num_html {
  color: var(--html);
}

/* Rotación HTML*/

.circle .left_html {
  z-index: 1;
  /*   Para regular subir deg de transform */
  transform: rotate(50deg);
  background: var(--html);
}

.circle .right_html {
  z-index: 3;
  transform: rotate(180deg);
  background: var(--html);
}

/* Color CSS */

.num_css {
  color: var(--css);
}

/* Rotación CSS*/

.circle .left_css {
  z-index: 1;
  transform: rotate(70deg);
  background: var(--css);
}

.circle .right_css {
  z-index: 3;
  transform: rotate(180deg);
  background: var(--css);
}

/* Color JS */

.num_js {
  color: var(--js);
}

/* Rotación JS*/

.circle .left_js {
  z-index: 1;
  transform: rotate(130deg);
  background: var(--js);
}

.circle .right_js {
  z-index: 3;
  transform: rotate(180deg);
  background: var(--js);
}

/* Color BTRAP */

.num_bootstrap {
  color: var(--bootstrap);
}

/* Rotación BTRAP*/

.circle .left_bootstrap {
  z-index: 1;
  transform: rotate(5deg);
  background: var(--bootstrap);
}

.circle .right_bootstrap {
  z-index: 3;
  transform: rotate(180deg);
  background: var(--bootstrap);
}

/* Color JQUERY */

.num_jquery {
  color: var(--jquery);
}

/* Rotación JQUERY*/

.circle .left_jquery {
  z-index: 1;
  transform: rotate(110deg);
  background: var(--jquery);
}

.circle .right_jquery {
  z-index: 3;
  transform: rotate(180deg);
  background: var(--jquery);
}

/* Color JAVA */

.num_java {
  color: var(--java);
}

/* Rotación JAVA*/

.circle .left_java {
  z-index: 1;
  transform: rotate(80deg);
  background: var(--java);
}

.circle .right_java {
  z-index: 3;
  transform: rotate(180deg);
  background: var(--java);
}

/* Color PHP */

.num_php {
  color: var(--php);
}

/* Rotación PHP*/

.circle .left_php {
  z-index: 1;
  transform: rotate(165deg);
  background: var(--php);
}

.circle .right_php {
  z-index: 3;
  transform: rotate(180deg);
  background: var(--php);
}

/* Color SQL */

.num_sql {
  color: var(--sql);
}

/* Rotación SQL*/

.circle .left_sql {
  z-index: 1;
  transform: rotate(150deg);
  background: var(--sql);
}

.circle .right_sql {
  z-index: 3;
  transform: rotate(180deg);
  background: var(--sql);
}

/* Color SPRING */

.num_spring {
  color: var(--spring);
}

/* Rotación SPRING*/

.circle .left_spring {
  z-index: 1;
  transform: rotate(87deg);
  background: var(--spring);
}

.circle .right_spring {
  z-index: 3;
  transform: rotate(180deg);
  background: var(--spring);
}

/* Color TERMINAL */

.num_terminal {
  color: var(--scrum);
}

/* Rotación TERMINAL*/

.circle .left_terminal {
  z-index: 1;
  transform: rotate(173deg);
  background: var(--scrum);
}

.circle .right_terminal {
  z-index: 3;
  transform: rotate(180deg);
  background: var(--scrum);
}

/* Color GIT */

.num_git {
  color: var(--git);
}

/* Rotación GIT*/

.circle .left_git {
  z-index: 1;
  transform: rotate(142deg);
  background: var(--git);
}

.circle .right_git {
  z-index: 3;
  transform: rotate(180deg);
  background: var(--git);
}

/* Color DOCKER */

.num_docker {
  color: var(--docker);
}

/* Rotación DOCKER*/

.circle .left_docker {
  z-index: 1;
  transform: rotate(176deg);
  background: var(--docker);
}

.circle .right_docker {
  z-index: 3;
  transform: rotate(180deg);
  background: var(--docker);
}

/* Color SEO */

.num_seo {
  color: var(--seo);
}

/* Rotación SEO*/

.circle .left_seo {
  z-index: 1;
  transform: rotate(123deg);
  background: var(--seo);
}

.circle .right_seo {
  z-index: 3;
  transform: rotate(180deg);
  background: var(--seo);
}

/* PROYECTOS DESTACADOS */


.destacadosElmnt {
  width: 8rem;
  height: 8rem;
}

.row-proyectos {
  padding-right: 0 !important;
}

/* PROYECTOS */

.github:hover {
  cursor: url(../img/proyectos/gh.png),
    auto;
}
.codepen:hover {
  cursor: url(../img/proyectos/cp.png),
    auto;
}

.muestra_proyecto {
  width: 100%;
  height: 100%;
}

.muestra_btn {
  filter: brightness(70%);
  filter: saturate(70%);
  transition: 0.3s;
}

.muestra_btn:hover {
  filter: brightness(100%);
  filter: saturate(150%);
  transition: 0.3s;
}


/* CONTACTO */

.capa-anti-eventos {
  width: 97%;
  height: 30rem;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.capa-bloqueo-mapa {
  width: 97%;
  height: 30rem;
  position: absolute;
  z-index: 10;
}

.capa-carga {
  width: 97%;
  height: 30rem;
  position: absolute;
  cursor: pointer;
  z-index: 15;
}

#map-reset {
  cursor: pointer;
}

#icono-ubi {
  position: absolute;
  top: 10rem;
  left: 10rem;
  width: 3.5rem;
  height: 5rem;
}

.filter-map {
  filter: opacity(70%);
}

.skina-izq {
  position: absolute;
  z-index: 20;
}

.skina-der {
  position: absolute;
  right: 1rem;
  z-index: 20;
}

.map-on {
  display: flex;
  justify-content: between;
  cursor: pointer;
}

.map-off {
  display: flex;
  justify-content: between;
  cursor: pointer;
}

/* Efecto carga */
.loader {
  position: absolute;
  top: calc(35% - 32px);
  left: calc(37% - 32px);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid var(--azul_dev);
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #efeffa;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid var(--azul_dark_dev);
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

/* PIE DE PÁGINA */

.copy {
  margin-top: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: default;
}

/* Responsive */
/* sm */
@media (max-width: 540px) {
  #icono-ubi {
    top: 10rem;
    left: 3rem;
  }
}
/* md */
@media (min-width: 720px) {
  #icono-ubi {
    top: 10rem;
    left: 4rem;
  }
}
/* lg */
@media (min-width: 960px) {
  #icono-ubi {
    top: 10rem;
    left: 6rem;
  }
}
/* xl */
@media (min-width: 1140px) {
  #icono-ubi {
    top: 10rem;
    left: 10rem;
  }
}
/* xxl */
@media (min-width: 1320px) {
  #icono-ubi {
    top: 10rem;
    left: 14rem;
  }
}
